#container {
    font-family: "Trirong", serif;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: #ff0150;
    color: aliceblue;
    border: 1px solid;
    border-color: #D6A800;
    padding: 10px;
}
a {
    color: #ff0150;
    text-decoration: none;
}

a:hover {
    color: #ff99b9;
}

a:visited {
    color: #c70240;
}